In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as s
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [5]:
data['profit'] = data['revenue'] - data['budget']
data.head(100)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,tt3203606,15000000,8235661,Trumbo,Bryan Cranston|Diane Lane|Helen Mirren|Elle Fa...,Jay Roach,Are you now or have you ever been...,The career of screenwriter Dalton Trumbo is ha...,124,Drama,Groundswell Productions|Inimitable Pictures|Sh...,10/27/2015,7.2,2015,-6764339
96,tt1741273,19500000,32189727,Secret in Their Eyes,Chiwetel Ejiofor|Nicole Kidman|Julia Roberts|D...,Billy Ray,Don't look back,"A tight-knit team of FBI investigators, along ...",111,Crime|Drama|Mystery,Ingenious Media|Gran Via Productions|IM Global...,10/14/2015,6.2,2015,12689727
97,tt2279373,74000000,311594032,The SpongeBob Movie: Sponge Out of Water,Tom Kenny|Bill Fagerbakke|Rodger Bumpass|Clanc...,Paul Tibbitt,He's leaving his world behind.,Burger Beard is a pirate who is in search of t...,93,Family|Animation,Paramount Pictures|Nickelodeon Movies|Nickelod...,2/5/2015,5.7,2015,237594032
98,tt3369806,20000000,43967255,Max,Thomas Haden Church|Josh Wiggins|Lauren Graham...,Boaz Yakin,Best Friend. Hero. Marine.,A dog that helped soldiers in Afghanistan retu...,111,Adventure|Drama|Family,Sunswept Entertainment|Warner Bros.|Metro-Gold...,6/26/2015,7.0,2015,23967255
99,tt2515034,40000000,10664749,The Gunman,Sean Penn|Jasmine Trinca|Javier Bardem|Ray Win...,Pierre Morel,Armed With the Truth.,Eight years after fleeing the Congo following ...,115,Action|Drama|Crime,StudioCanal|Silver Pictures|TF1 Films Producti...,2/16/2015,5.6,2015,-29335251

In [6]:
#This function splits strings separated by "|" into list and places it in the new DF column

def splitter():

    for field in ['cast','director','genres','production_companies']:
        data.insert(loc=data.columns.get_loc(field)+1, column=field+'_lst', value='')
        for i, m in data.iterrows():
            data.at[i,field+'_lst'] = sorted(data.at[i,field].split('|'))

In [7]:
#This function creates new column with release month [0-12]

def month():
    
    data.insert(loc=data.columns.get_loc('release_date')+1, column='release_month', value='')
    for i, m in data.iterrows():
        data.at[i,'release_month'] = data.loc[i,'release_date'].split('/')[0]

In [8]:
#This function creates new column with release season {'Wi','Sp','Su','Fa'}

def season():
    
    data.insert(loc=data.columns.get_loc('release_month')+1, column='release_season', value='')
    for i, m in data.iterrows():
        if data.at[i,'release_month'] in  ['12','1','2']:
            data.at[i,'release_season'] = 'Wi'
        elif data.at[i,'release_month'] in  ['3','4','5']:
            data.at[i,'release_season'] = 'Sp'
        elif data.at[i,'release_month'] in  ['6','7','8']:
            data.at[i,'release_season'] = 'Su'
        else:
            data.at[i,'release_season'] = 'Fa'

In [9]:
#This function creates new column with title length

def title_len():
    
    data.insert(loc=data.columns.get_loc('original_title')+1, column='title_length', value='')
    for i, m in data.iterrows():
        data.at[i,'title_length'] = len(data.loc[i,'original_title'])

In [10]:
#This function creates new column with number of words in movie overview

def overview_words():
    
    data.insert(loc=data.columns.get_loc('overview')+1, column='overview_words', value='')
    for i, m in data.iterrows():
        data.at[i,'overview_words'] = len(data.loc[i,'overview'].split(' '))

In [11]:
#Run functions to pre-process data

splitter()
month()
season()
title_len()
overview_words()

In [12]:
display(data.tail(20))

,imdb_id,budget,revenue,original_title,title_length,cast,cast_lst,director,director_lst,tagline,...,genres,genres_lst,production_companies,production_companies_lst,release_date,release_month,release_season,vote_average,release_year,profit
1869,tt0211181,85000000,183611771,102 Dalmatians,14,Glenn Close|Ioan Gruffudd|Alice Evans|Tim McIn...,"[Alice Evans, Glenn Close, GÃ©rard Depardieu, ...",Kevin Lima,[Kevin Lima],Meet Two Unlikely Heroes With A Bone To Pick.,...,Comedy|Family,"[Comedy, Family]",Walt Disney Pictures|Cruella Productions,"[Cruella Productions, Walt Disney Pictures]",10/7/2000,10,Fa,5.0,2000,98611771
1870,tt0144528,84000000,123307945,Nutty Professor II: The Klumps,30,Eddie Murphy|Janet Jackson|Larry Miller|John A...,"[Eddie Murphy, Janet Jackson, John Ales, Larry...",Peter Segal,[Peter Segal],The Klumps are back!,...,Fantasy|Comedy|Romance|Science Fiction,"[Comedy, Fantasy, Romance, Science Fiction]",Imagine Entertainment|Universal Pictures,"[Imagine Entertainment, Universal Pictures]",7/27/2000,7,Su,4.8,2000,39307945
1871,tt0171433,30000000,37036004,Keeping the Faith,17,Ben Stiller|Edward Norton|Jenna Elfman|Anne Ba...,"[Anne Bancroft, Ben Stiller, Edward Norton, El...",Edward Norton,[Edward Norton],"If you have to believe in something, you may a...",...,Comedy,[Comedy],Spyglass Entertainment|Touchstone Pictures|Tri...,"[Spyglass Entertainment, Touchstone Pictures, ...",4/14/2000,4,Sp,5.7,2000,7036004
1872,tt0134983,90000000,14828081,Supernova,9,James Spader|Angela Bassett|Robert Forster|Lou...,"[Angela Bassett, James Spader, Lou Diamond Phi...",Walter Hill|Jack Sholder,"[Jack Sholder, Walter Hill]","In the farthest reaches of space, something ha...",...,Science Fiction,[Science Fiction],United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,"[Hammerhead Productions, Metro-Goldwyn-Mayer (...",1/14/2000,1,Wi,4.7,2000,-75171919
1873,tt0160009,40000000,30199105,The Art of War,14,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,"[Anne Archer, Donald Sutherland, Maury Chaykin...",Christian Duguay,[Christian Duguay],Who is your foe?,...,Action|Adventure|Thriller,"[Action, Adventure, Thriller]",Amen Ra Films|Franchise Pictures|Warner Bros.|...,"[Amen Ra Films, Franchise Pictures, Morgan Cre...",8/23/2000,8,Su,5.7,2000,-9800895
1874,tt0202402,15000000,9902115,Whatever It Takes,17,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,"[Aaron Paul, James Franco, Jodi Lyn O'Keefe, M...",David Raynr,[David Raynr],How low will they go to get the girls of their...,...,Drama|Comedy|Romance,"[Comedy, Drama, Romance]",Columbia Pictures Corporation,[Columbia Pictures Corporation],3/31/2000,3,Sp,5.0,2000,-5097885
1875,tt0219854,65000000,69700000,The Kid,7,Bruce Willis|Spencer Breslin|Emily Mortimer|Li...,"[Bruce Willis, Chi McBride, Emily Mortimer, Li...",Jon Turteltaub,[Jon Turteltaub],Nobody ever grows up quite like they imagined.,...,Fantasy|Comedy|Family,"[Comedy, Family, Fantasy]",Walt Disney Pictures,[Walt Disney Pictures],7/7/2000,7,Su,5.9,2000,4700000
1876,tt0144964,25000000,15843608,Highlander: Endgame,19,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,"[Adrian Paul, Bruce Payne, Christopher Lambert...",Douglas Aarniokoski,[Douglas Aarniokoski],It will take two immortals to defeat the ultim...,...,Action|Fantasy|Science Fiction,"[Action, Fantasy, Science Fiction]",Davis-Panzer Productions|Dimension Films,"[Davis-Panzer Productions, Dimension Films]",9/1/2000,9,Fa,4.3,2000,-9156392
1877,tt0199725,20000000,27728118,Love & Basketball,17,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...","[Alfre Woodard, Chris Warren, Jr., Kyla Pratt,...",Gina Prince-Bythewood,[Gina Prince-Bythewood],All's fair in love and basketball.,...,Action|Comedy|Drama|Romance,"[Action, Comedy, Drama, Romance]",40 Acres & A Mule Filmworks,[40 Acres & A Mule Filmworks],4/21/2000,4,Sp,7.3,2000,7728118
1878,tt0176783,14000000,5108820,Gossip,6,Joshua Jackson|James Marsden|Kate Hudson|Lena ...,"[James Marsden, Joshua Jackson, Kate Hudson, L...",Davis Guggenheim,[Davis Guggenheim],"It can turn you on, or turn on you.",...,Drama|Mystery|Thriller,"[Drama, Mystery, Thriller]",Warner Bros. Pictures,[Warner Bros. Pictures],4/21/2000,4,Sp,5.3,2000,-8891180
1879,tt0180073,13500000,7060876,Quills,6,Geoffrey Rush|Kate Winslet|Joaquin Phoenix|Mic...,"[Billie Whitelaw, Geoffrey Rush, Joaquin Phoen...",Philip Kaufman,[Philip Kaufman],There are no bad words... only bad deeds.,...,Drama,[Drama],Fox Searchlight Pictures|Industry Entertainmen...,"[Charenton Productions, Fox Searchlight Pictur...",11/22/2000,11,Fa,6.4,2000,-6439124
1880,tt0190374,35000000,15185241,Dungeons & Dragons,18,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,"[Bruce Payne, Jeremy Irons, Justin Whalin, Tho...",Courtney Solomon,[Courtney Solomon],This is no game.,...,Action|Adventure|Fantasy|Science Fiction,"[Action, Adventure, Fantasy, Science Fiction]",New Line Cinema|Silver Pictures|Sweetpea Enter...,"[New Line Cinema, Silver Pictures, Sweetpea En...",12/8/2000,12,Wi,3.9,2000,-19814759
1881,tt0213790,24000000,13700000,The Ladies Man,14,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,"[Billy Dee Williams, Jill Talley, John Withers...",Reginald Hudlin,[Reginald Hudlin],He's cool. He's clean. He's a love machine.,...,Comedy,[Comedy],SNL Studios,[SNL Studios],10/13/2000,10,Fa,5.4,2000,-10300000
1882,tt0217756,24000000,12372410,Ready to Rumble,15,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,"[Bill Goldberg, David Arquette, Oliver Platt, ...",Brian Robbins,[Brian Robbins],They're headed to the big time...face first.,...,Action|Comedy|Drama,"[Action, Comedy, Drama]",Bel Air Entertainment|Warner Bros.,"[Bel Air Entertainment, Warner Bros.]",4/7/2000,4,Sp,4.4,2000,-11627590
1883,tt0122459,24000000,36609995,Return to Me,12,David Duchovny|Minnie Driver|Carroll O'Connor|...,"[Carroll O'Connor, David Duchovny, Jim Belushi...",Bonnie Hunt,[Bonnie Hunt],A comedy straight from the heart,...,Romance|Comedy|Drama,"[Comedy, Drama, Romance]",Metro-Goldwyn-Mayer (MGM)|JLT Productions,"[JLT Productions, Metro-Goldwyn-Mayer (MGM)]",4/7/2000,4,Sp,5.5,2000,12609995
1884,tt0120903,75000000,157299717,X-Men,5,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,"[Famke Janssen, Halle Berry, Hugh Jackman, Ian...",Bryan Singer,[Bryan Singer],Evolution Begins,...,Adventure|Action|Science Fiction,"[Action, Adventure, Science Fiction]",Twentieth Century Fox Film Corporation|Donners...,"[Bad Hat Harry Productions, Donners' Company, ...",7/13/2000,7,Su,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,18,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,"[Alice Krige, Jim Carter, Jonathan Lipnicki, P...",Uli Edel,[Uli Edel],"They're not just best friends, they're blood b...",...,Horror|Family|Foreign,"[Family, Foreign, Horror]",New Line Cinema,[New Line Cinema],10/27/2000,10,Fa,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,36,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,"[Jason Alexander, Piper Perabo, Randy Quaid, R...",Des McAnuff,[Des McAnuff],This summer it's not the same old bull.,...,Adventure|Animation|Action|Comedy|Family,"[Action, Adventure, Animation, Comedy, Family]",Universal Pictures|Capella International|KC Me...,"[Capella International, KC Medien AG, Tribeca ...",6/30/2000,6,Su,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,10,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,"[Adam Arkin, Diane Keaton, Lisa Kudrow, Meg Ry...",Diane Keaton,[Diane Keaton],Every family has a few hang-ups.,...,Comedy|Drama,"[Comedy, Drama]",Laurence Mark Productions|Columbia Pictures Co...,"[Columbia Pictures Corporation, Global Enterta...",2/16/2000,2,Wi,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,12,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,"[Lori Heuring, Matthew Settle, Nathan Bexton, ...",Mary Lambert,[Mary Lambert],What would you do to get in?,...,Thriller,[Thriller],Warner Bros. Pictures,[Warner Bros. Pictures],7/19/2000,7,Su,5.2,2000,-9782502

<h3>Solutions below are using the following convention for naming</h3>

<b> res</b> - final result of step calculations<br>
<b>s, s1</b> - service variables used as interims to arrive to result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [13]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [14]:
res = data[data.budget==data.budget.max()].original_title.iloc[0]

answers['1'] = res
display(res)

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [15]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [16]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [17]:
res = data[data.runtime==data.runtime.max()].original_title.iloc[0]

answers['2'] = res
display(res)

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
res = data[data.runtime==data.runtime.min()].original_title.iloc[0]

answers['3'] = res
display(res)

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [19]:
res = data.runtime.mean()

answers['4'] = res
display(res)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [20]:
res = data.runtime.median()

answers['5'] = res
display(res)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
res = data[data.profit==data.profit.max()].original_title.iloc[0]

answers['6'] = res
display(res)

'Avatar'

# 7. Какой фильм самый убыточный?

In [22]:
res = data[data.profit==data.profit.min()].original_title.iloc[0]

answers['7'] = res
display(res)

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
res = len(data[data.profit>0])

answers['8'] = res
display(res)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
#Method1: concise approach
res = data[(data.release_year==2008) & (data.revenue==data.revenue[data.release_year==2008].max())]\
     .original_title.iloc[0]

answers['9'] = res
display(res)

'The Dark Knight'

In [25]:
#Method2: comprehensible approach
movies_2008 = data[(data.release_year==2008)]
res = movies_2008[movies_2008.revenue==movies_2008.revenue.max()].original_title.iloc[0]

answers['9'] = res
display(res)

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
#time Method1
import timeit
start_time = timeit.default_timer()

for x in range(1000):
    minprof = data[(data.release_year>2011) & (data.release_year<2015)].profit.min()
    res = data[(data.release_year>2011) & (data.release_year<2015) & (data.profit==minprof)] \
         .original_title.iloc[0]
elapsed = timeit.default_timer() - start_time

print(elapsed/1000)

0.005335357769

In [27]:
#time Method2
import timeit
start_time = timeit.default_timer()

for x in range(1000):
    selyears = data[(data.release_year>2011) & (data.release_year<2015)]
    res = selyears[selyears.profit==selyears.profit.min()].original_title.iloc[0]
elapsed = timeit.default_timer() - start_time

print(elapsed/1000)

0.003312611974000001

In [28]:
#Go for a faster method (Method2)

s = data[(data.release_year>2011) & (data.release_year<2015)] #all movies between 2012 and 2014
res = s[s.profit==s.profit.min()].original_title.iloc[0]

answers['10'] = res
display(res)

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [51]:
#Method1: using series stacking
s = data['genres_lst'].apply(pd.Series).stack().reset_index(drop=True) #Series of exploded genres
res = Counter(s).most_common()[0][0]

answers['11'] = res
display(res)

'Drama'

In [59]:
#Method2: without series stacking

genres = []
for g in data['genres']:
    for h in g.split('|'):
        genres.append(h)

res = Counter(genres).most_common()[0][0]

answers['11'] = res
display(res)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
#Method1: with series stacking

s = data[data.profit>0]['genres_lst'] # genres of profitable movies
s1 = s.apply(pd.Series).stack().reset_index(drop=True) # stacked list of genres of profitable movies
res = Counter(s1).most_common()[0][0]

answers['12'] = res
display(res)

'Drama'

In [60]:
#Method2: without series stacking

genres = []
for g in data[data.profit>0]['genres']:
    for h in g.split('|'):
        genres.append(h)

res = Counter(genres).most_common()[0][0]

answers['12'] = res
display(res)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
#Method1: with df explosion
s = data[['director_lst', 'revenue']]

res = s.explode('director_lst').reset_index(drop=True).groupby('director_lst').sum() \
     .sort_values(by=['revenue']).index[-1]

answers['13'] = res
display(res)

'Peter Jackson'

In [93]:
#Method2: without df explosion (takes longer, but relies on lecture materials only)

directors_revenue = pd.DataFrame(columns=['director', 'revenue'])

for i in range(len(data)):
    for j in data.loc[i,'director'].split('|'):
        df = pd.DataFrame({'director':[j], 'revenue': [data.loc[i,'revenue']]})
        directors_revenue = directors_revenue.append(df, ignore_index=True)

res = directors_revenue.groupby('director').sum().sort_values(by=['revenue']).index[-1]

answers['13'] = res
display(res)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
#Method1: df explode
s = data[['director_lst', 'genres_lst']]
s1 = s.explode('director_lst').explode('genres_lst')
res = Counter(s1[s1.genres_lst=='Action']['director_lst']).most_common()[0][0]

answers['14'] = res
display(res)

'Robert Rodriguez'

In [33]:
#Method2: series split
s = data[data.genres.str.contains('Action')]['director_lst']
s1 = s.apply(pd.Series).stack().reset_index(drop=True)
res = Counter(s1).most_common()[0][0]

answers['14'] = res
display(res)

'Robert Rodriguez'

In [100]:
#Method3: dumb approach

action_directors = []

for i in range(len(data)):
    if 'Action' in data.loc[i,'genres']:
        for j in data.loc[i,'director'].split('|'):
            action_directors.append(j)

res = Counter(action_directors).most_common()[0][0]

answers['14'] = res
display(res)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
#Method1: explode df

s = data[data.release_year==2012][['cast_lst', 'revenue']]
res = s.explode('cast_lst').groupby('cast_lst').sum().sort_values(by=['revenue']).index[-1]

answers['15'] = res
display(res)

'Chris Hemsworth'

In [101]:
#Method2: dumb approach

cast_revenue = pd.DataFrame(columns=['cast', 'revenue'])

for i in range(len(data)):
    if data.loc[i,'release_year']==2012:    
        for j in data.loc[i,'cast'].split('|'):
            df = pd.DataFrame({'cast':[j], 'revenue': [data.loc[i,'revenue']]})
            cast_revenue = cast_revenue.append(df, ignore_index=True)

res = cast_revenue.groupby('cast').sum().sort_values(by=['revenue']).index[-1]

answers['15'] = res
display(res)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
#NB: определение высокобюджетности некорректно, поскольку бюджет фильмов не учитывает инфляции.
#Корректнее было бы сравнивать бюджет к среднему по конкретному году

s = data[data.budget>data.budget.mean()]['cast_lst']
s1 = s.apply(pd.Series).stack().reset_index(drop=True)
res = Counter(s1).most_common()[0][0]

answers['16'] = res
display(res)

'Matt Damon'

In [120]:
#Более экономически обоснованный подход: то, высокобюджетный ли фильм, считается по отношению к среднему по 
#фильмам аналогичного года выпуска

years=data.release_year.unique()
mean_budget=pd.DataFrame(index=years, columns=['mean_budget'])

for i in years:
    mean_budget.at[i,'mean_budget']=data[data.release_year==i].budget.mean()
    
high_budget_cast=[]

for i in range(len(data)):
    if data.loc[i, 'budget'] > mean_budget.loc[data.loc[i,'release_year']][0]:
        for j in data.loc[i,'cast'].split('|'):
            high_budget_cast.append(j)

res = Counter(high_budget_cast).most_common()[0][0]

display(res)

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [36]:
s = data[data['cast'].str.contains('Nicolas Cage')]['genres_lst']
s1 = s.apply(pd.Series).stack().reset_index(drop=True)
res = Counter(s1).most_common()[0][0]

answers['17'] = res
display(res)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [37]:
paramount_films = data[data['production_companies'].str.contains('Paramount Pictures')]
res = paramount_films[paramount_films.profit==paramount_films.profit.min()].original_title.iloc[0]

answers['18'] = res
display(res)

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [38]:
profit_by_year = data.groupby('release_year')['profit'].sum()
res = profit_by_year.sort_values().index[-1]

answers['19'] = res
display(res)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [39]:
#NB Предположение, что Warner Bros получает всю прибыль от фильмов, выпущенных совместно с другими компаниями
#не является корректным

profit_Warner = data[data.production_companies.str.contains('Warner Bros')] \
                .groupby('release_year')['profit'].sum()

res = profit_Warner.sort_values().index[-1]

answers['20'] = res
display(res)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [40]:
res = Counter(data.release_month).most_common()[0][0]

answers['21'] = res
display(res)

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [41]:
releases_by_season = Counter(data.release_season)
res = releases_by_season['Su']

answers['22'] = res
display(res)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [42]:
winter_releases = data[data.release_season=='Wi']
winter_releases_by_director = winter_releases.explode('director_lst')
res = Counter(winter_releases_by_director.director_lst).most_common()[0][0]

answers['23'] = res
display(res)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [43]:
lengths = data.explode('production_companies_lst')[['production_companies_lst', 'title_length']]
mean_lengths = pd.to_numeric(lengths.title_length).groupby(lengths.production_companies_lst).mean()
res = mean_lengths.sort_values().index[-1]

answers['24'] = res
display(res)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [44]:
words = data.explode('production_companies_lst')[['production_companies_lst', 'overview_words']]
mean_words = pd.to_numeric(words.overview_words).groupby(words.production_companies_lst).mean().sort_values()
res = mean_words.sort_values().index[-1]

answers['25'] = res
display(res)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [45]:
perc_99 = np.percentile(data.vote_average, 99)
res = data[data.vote_average>=perc_99]['original_title'].values.tolist()

answers['26'] = res
display(res)

['Inside Out',
 'Spotlight',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'Big Hero 6',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'The Theory of Everything',
 'The Fault in Our Stars',
 'Mr. Nobody',
 '3 Idiots',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Dark Knight',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 'Her',
 '12 Years a Slave',
 'Prisoners',
 'Dallas Buyers Club',
 'The Prestige',
 'Eternal Sunshine of the Spotless Mind',
 'There Will Be Blood',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [46]:
#Method1

#Create list of all existing actors pairs
couples = []
for i, m in data.iterrows():
    for c in combinations(data.loc[i,'cast_lst'], 2):
        couples.append(c[0] + " | " + c[1])
        
#Find highest pair's frequency
modal = Counter(couples).most_common()[0][1]

#Find all pairs with highest frequency
res = [x[0] for x in Counter(couples).most_common() if x[1]==modal]

answers['27'] = res
display(res)

['Daniel Radcliffe | Emma Watson',
 'Daniel Radcliffe | Rupert Grint',
 'Emma Watson | Rupert Grint']

In [47]:
#Method2

#Create list of all existing actors pairs
pairs=[]
for i in range(len(data)):
    cast_new=data.loc[i,'cast'].split('|')
    for j in range(len(cast_new)-1):
        for k in range(j+1,len(cast_new)):
            cpair=sorted([cast_new[j],cast_new[k]])
            pairs.append(cpair[0]+' | '+cpair[1])
    
#Find highest pair's frequency
modal = Counter(pairs).most_common()[0][1]

#Find all pairs with highest frequency
res = [x[0] for x in Counter(pairs).most_common() if x[1]==modal]

answers['27'] = res
display(res)

['Daniel Radcliffe | Rupert Grint',
 'Daniel Radcliffe | Emma Watson',
 'Emma Watson | Rupert Grint']

# Submission

In [48]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Spotlight',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'Big Hero 6',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'The Theory of Everything',
  'The Fault in Our Stars',
  'Mr. Nobody',
  '3 Idiots',
  'Inception',
  'The Lord of the Rings: The Fellowship of the Ring',
  'The Dark Knight',
  'The Lord of the Rings: The Two Towers',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  'Her',
  '12 Years a Slave',
  'Prisoners',
  'Dallas Buyers Club',
  'The Prestige',
  'Eternal Sunshine of the Spotless Mind',
  'There Will Be Blood',
  'Memento'],
 '27': ['Daniel Radcliffe | Rupert Grint',
  'Daniel Radcliffe | Emma Watson',
  'Emma Watson | Rupert Grint']}

In [49]:
# и убедиться что ни чего не пропустил)
len(answers)

27